#aboutme-view-text {
    position: relative;
    left: 8%;
    top: 5rem;
    width: 84%;
    font-size: 2rem;
    font-family: LintelRegular;
    color: #ecf0f1;
}

#aboutme-view-text div {
    position: relative;
}

#aboutme-view-text div.headline {
    font-size: 2.8rem;
}

#aboutme-images-container {
    position: relative;
    width: 100%;
    height: 100%;
}