#buzzkill-view div {
    width: 100%;
    top: calc((100% - 11rem) / 2 - 6rem);
    font-size: 9.5rem;
    font-family: Jalanelight;
    text-align: center;
    color: #ecf0f1;
}

#buzzkill-view a {
    width: 100%;
    top: calc((100% - 11rem) / 2 + 7rem);
    font-size: 4.5rem;
    font-family: LintelRegular;
    text-align: center;
}