#gestr_ios-view-title {
    position: relative;
    display: inline-block;
    left: 7.6%;
    top: 5rem;
    font-size: 12rem;
    font-family: JalaneLight;
    color: #2ecc71;
    white-space: nowrap;
}

#gestr_ios-view-title div {
    display: inline-block;
    position: relative;
    bottom: 2.6rem;
    font-size: 2.4rem;
    font-family: LintelRegular;
    color: #ecf0f1;
}

#gestr_ios-view-title div.bottom {
    position: absolute;
}

#gestr_ios-view-title div.top {
    top: -5.8rem;
}

#gestr_ios-download-area {
    left: 8.4%;
    top: 15.6rem;
    width: 23rem;
}

#gestr_ios-download-area img {
    position: relative;
    display: inline-block;
    width: 4rem;
}

#gestr_ios-download-description {
    display: inline-block;
    margin-top: 1.3rem;
    margin-left: 0.8rem;
    font-size: 1.2rem;
    font-family: LintelRegular;
    color: #ecf0f1;
}

#gestr_ios-bottom-section {
    position: relative;
    margin-top: 9.6rem;
    width: 100%;
    height: 100%;
}

#gestr_ios-view-text {
    height: 92%;
    top: 4%;
    left: 7.6%;
    font-size: 2rem;
    font-family: LintelRegular;
    color: #ecf0f1;
}

#gestr_ios-view-text div {
    position: relative;
}

#gestr_ios-iphone {
    height: 94%;
    right: 10%;
    top: 3%;
    background-image: url(../img/iphone.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#gestr_ios-video-container {
    left: 8.6%;
    top: 14.7%;
    width: 83.4%;
    height: 71%;
}

@-moz-document url-prefix() {
    #gestr_ios-view-title {
        top: 4.2rem;
    }

    #gestr_ios-view-title div {
        bottom: 3.0rem;
    }

    #gestr_ios-view-title div.top {
        top: -6.2rem;
    }

    #gestr_ios-bottom-section {
        margin-top: 8.6rem;
    }
}