#ione-view-title {
    position: relative;
    display: inline-block;
    left: 7.0%;
    top: 4.4rem;
    font-size: 12rem;
    font-family: ExistenceLightStencil;
    color: #40c1fe;
    white-space: nowrap;
}

#ione-view-title div {
    display: inline-block;
    position: relative;
    bottom: 1.8rem;
    font-size: 2.4rem;
    font-family: LintelRegular;
    color: #ecf0f1;
}

#ione-view-title div.impossible {
    position: absolute;
}

#ione-view-title div.simple {
    top: -5.0rem;
}

#ione-download-area {
    left: 8.4%;
    top: 15.6rem;
    width: 23rem;
}

#ione-download-area img {
    position: relative;
    display: inline-block;
    width: 4rem;
}

#ione-download-description {
    display: inline-block;
    padding-top: 1.3rem;
    padding-left: 0.8rem;
    font-size: 1.2rem;
    font-family: LintelRegular;
    color: #ecf0f1;
}

#ione-view-text {
    position: relative;
    left: 7.6%;
    top: 8rem;
    width: 84.8%;
    font-size: 2rem;
    font-family: LintelRegular;
    color: #ecf0f1;
}

#ione-view-text div {
    position: relative;
}

#ione-video-container {
    position: relative;
    width: 100%;
    height: 100%;
}