@font-face {
    font-family: 'Lintel-Regular';
    src: url('27E458_0_0.eot');
    src: url('27E458_0_0.eot?#iefix') format('embedded-opentype'),
         url('27E458_0_0.svg#wf') format('svg'),
         url('27E458_0_0.woff') format('woff'),
         url('27E458_0_0.ttf') format('truetype');
}
 