@font-face {
    font-family: 'ExistenceLightStencil';
    src: url('font.eot');
    src: url('font.eot?#iefix') format('embedded-opentype'),
         url('font.svg#ExistenceLightStencil') format('svg'),
         url('font.woff') format('woff'),
         url('font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


